footer {
  background-color: #f7f7f7;
  padding-bottom: 30px;
  padding-top: 30px;
}
.container__footer {
   text-align: center;
 
  
  @media screen and (min-width: 768px) {
       display: flex;
       justify-content: center;
       
    }
}

.footer__rights {
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.footer__group{
  display: flex;
    @media screen and (max-width: 767px) {
    margin-top: 10px;
    }
}
.footer__item {
  margin-left: 10px;
  margin-right: 10px;
}
.footer__modal {
  padding-left: 10px;
  color: #545454;
  cursor: pointer;
  text-decoration: underline;
}
.footer__modal:hover {
  color: #ff6b08;
}
.footer__modal:focus {
  color: #ff6b08;
}
