footer {
  background-color: #f7f7f7;
  padding-bottom: 30px;
  padding-top: 30px;
}
.container__footer {
    display: flex;
  justify-content: center;
}

.footer__rights {
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.footer__item {
  padding-left: 10px;
  padding-right: 10px;
}
.footer__modal {
  padding-left: 10px;
  color: #545454;
  cursor: pointer;
  text-decoration: underline;
}
.footer__modal:hover {
  color: #ff6b08;
}
.footer__modal:focus {
  color: #ff6b08;
}
